<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Instagram / Post List</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <form action="" method="get">
      <input type="text" name="q" value="{{q}}" />
      <input type="submit" value="검색" />
    </form>
    <table class="table table-bordered table-hover">
      <tbody>
        {%for post in post_list%}
        <tr>
          <td>
            {%if post.photo %}<img
              src="{{post.photo.url}}"
              style="width: 100px"
            />
            {%else%}No photo{%endif%}
          </td>
          <td>{{post.message}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </body>
</html>
